services:
  backend:
    build:
      context: ../backend
    container_name: expenses-backend
    ports:
      - "8000:8000"
    volumes:
      - ../backend:/app

  frontend:
    build:
      context: ../frontend
      args:
        VITE_API_URL: http://localhost:8000
    container_name: expenses-frontend
    ports:
      - "5173:5173"
    volumes:
      - ../frontend/src:/app/src
      - ../frontend/public:/app/public
      - ../frontend/vite.config.js:/app/vite.config.js
      - ../frontend/index.html:/app/index.html
